logger_data_210917_220831_hourly.csv
2022-11-27_Loggers_readout_Schrankogel.csv
2022-11-30_Loggers_readout_Obergurgl.csv
logger_data_210917_220831_daily.csv
Obergurgl_species_data.xlsx
summarized_data_foranalysis.RData
