logger_data_210917_220831_hourly.xlsx
logger_data_210917_220831_daily.xlsx
1_1_A_C.csv
1_1_A_M.csv
1_2_A_C.csv
1_2_A_M.csv
1_3_A_C.csv
1_3_A_M.csv
1_4_A_C.csv
1_4_A_M.csv
1_5_A_C.csv
1_5_A_M.csv
2_1_A_C.csv
2_1_A_M.csv
2_2_A_C.csv
2_2_A_M.csv
2_3_A_C.csv
2_3_A_M.csv
2_4_A_C.csv
2_4_A_M.csv
2_5_A_C.csv
2_5_A_M.csv
3_1_A_C.csv
3_1_A_M.csv
3_2_A_C.csv
3_2_A_M.csv
3_3_A_C.csv
3_3_A_M.csv
3_4_A_C.csv
3_4_A_M.csv
3_5_A_C.csv
3_5_A_M.csv
4-4-A-C.csv
4_1_A_C.csv
4_1_A_M.csv
4_2_A_C.csv
4_2_A_M.csv
4_3_A_C.csv
4_3_A_M.csv
4_4_A_C.csv
4_4_A_M.csv
4_5_A_C.csv
4_5_A_M.csv
5_1_A-M.csv
5_1_A_C.csv
5_1_A_M.csv
5_2_A_C.csv
5_2_A_M.csv
5_3_A_C.csv
5_3_A_M.csv
5_4_A_C.csv
5_4_A_M.csv
5_5_A_C.csv
5_5_A_M.csv
Obergurgl seeding field forms 2022.xlsx
T5_species_data_v2-0.xlsx
raw data seedlings.rar
